{% macro input(field) %}
<div class="relative z-0 w-full mb-5 group">
    {{ field.label(class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 peer-focus:text-emerald-600 peer-focus:dark:text-emerald-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6") }}
    {{ field(class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-emerald-600 peer") }}
    {% if field.errors %}
    <div class="text-red-500 text-sm mt-1">
        {% for error in field.errors %}
        <p>{{ error }}</p>
        {% endfor %}
    </div>
    {% endif %}
</div>
{% endmacro %}

{% macro input_checkbox(field, is_correct_field) %}
<div class="relative z-0 w-full mb-5 group">
    <div class="flex items-center relative">
        {{ field.label(class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 peer-focus:text-emerald-600 peer-focus:dark:text-emerald-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6") }}
    {{ field(class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-emerald-600 peer") }}
    <div class="absolute right-3 top-1/2 transform -translate-y-1/2 cursor-pointer" onclick="toggleCheckbox('{{ is_correct_field.id }}')">
            <input type="checkbox" name="{{ is_correct_field.name }}" id="{{ is_correct_field.id }}" class="hidden" {{ 'checked' if is_correct_field.data else '' }}>
            <svg id="icon-{{ is_correct_field.id }}" class="w-6 h-6 transition-colors {{ 'text-emerald-500' if is_correct_field.data else 'text-gray-300' }}" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8.5 11.5 11 14l4-4m6 2a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"/>
            </svg>
        </div>
    </div>
    {% if field.errors %}
    <div class="text-red-500 text-sm mt-1">
        {% for error in field.errors %}
        <p>{{ error }}</p>
        {% endfor %}
    </div>
    {% endif %}
</div>
{% endmacro %}